Type Casting

Int to Float

In [1]:
age_int = 29 # this is an integer

# convert the integer to a float
age_float = float(age_int)

In [2]:
print(type(age_float))
print(type(age_int))

<class 'float'>
<class 'int'>

float to int

In [3]:
price = 9.99
price_int = int(price)

float or int to string

In [4]:
number_int = 10
number_float = 10.5

In [5]:
number_int = str(number_int)
number_float = str(number_float)

string to int and float

In [7]:
value = "225"
value_int = int(value)
value_float = float(value)

List to tuple and tuple to list

In [9]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)

print(type(my_list))
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

In [10]:
my_list_to_tuple = tuple(my_list)
my_tuple_to_list = list(my_tuple)

print(type(my_list_to_tuple))
print(type(my_tuple_to_list))

<class 'tuple'>
<class 'list'>

list to set and set to list

In [11]:
my_list = [1, 2, 3, 4, 5]
my_list = set(my_list)
print(type(my_list))

<class 'set'>

to boolean

In [12]:
number = 10
number = bool(number)
print(type(number))
print(number)

<class 'bool'>
True

In [13]:
khali_list = None
khali_list = bool(khali_list)
print(type(khali_list))
print(khali_list)

<class 'bool'>
False

In [14]:
age = 22
print("I am " + str(age) + " years old.")

I am 22 years old.

ctrl + /

ctrl + shift + p

In [1]:
age = 12
print("I am", age, "years old.")

I am 12 years old.